<div id="videocontainer">
    <video autoplay="" loop="" preload="" width="100%">
      <source src="http://intellectualventureslab.com/hp_hero_video/waterjet_1920.mp4" type="video/mp4">
      <source src="http://intellectualventureslab.com/hp_hero_video/waterjet_1920.webm" type="video/webm">
    </video>
</div>

<div class="topNavbar" id="aboutusNavbar">
	<h2>Technergy - <span>About Us</span></h2>
</div>

<ul class="nav nav-pills nav-stacked sidebar">
	<li class="sidebarPill sidebarEducation"><a href="#education"><img src="assets/img/LogoED.png"> &#09; Educación</a></li></br>
	<li class="sidebarPill sidebarEnergy"><a href="#energy"><img src="assets/img/LogoEF.png"> &#09; Eficiencia Energética</a></li></br>
	<li class="sidebarPill sidebarRandD"><a href="#randd"><img src="assets/img/LogoRD.png"> &#09; RandD</a></li>
</ul>

<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team">
<br>
<div class="divider1" id="mision">
	<h1>MISIÓN Y VISIÓN DE TECHNERGY</h1>
	<hr>
	<div class="col-lg-6">
		<h2 class="first_word">Misión</h2>
		<p>Impulsar soluciones integrales hacia nuevos horizontes y retos en eficiencia energética, sostenibilidad y energías renovables.</p>
	</div>
	<div class="col-lg-6">
		<h2 class="first_word">Visión</h2>
		<p>Inspirar eficiencia y conciencia.</p>
	</div>
</div><!-- divider1 -->
	<div class="row white centered">
		<h1 class="centered title-border">EL EQUIPO DE TECHNERGY</h1>
		<br>
		<br>
		<div class="col-lg-2 centered">
		</div><!-- col-lg-2 -->
		<div class="col-lg-3 centered">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img class="img" src="assets/img/fotos-pre-01.png" height="120px" width="120px" alt="">
						<br>
						<h4><b>Bryan Navarro</b></h4>
						<h4>Desarrollo de Negocios</h4>
						<a href="https://cr.linkedin.com/in/navarrob" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#bnavarro@technergycr.com" class="icon icon-envelop"></a>
					</div>
					<div class="back">
						<p height="120px" width="120px">Hablada</p>
						<br>
						<h4><b>Bryan Navarro</b></h4>
						<h4>Desarrollo de Negocios</h4>
						<a href="https://cr.linkedin.com/in/navarrob" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#bnavarro@technergycr.com" class="icon icon-envelop"></a>
					</div>
				</div>
			</div>
		</div><!-- col-lg-3 -->
		
		<div class="col-lg-3 centered">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img class="img" src="assets/img/fotos-pre-04.png" height="120px" width="120px" alt="">
						<br>
						<h4><b>Javier Carvajal</b></h4>
						<h4>Eficiencia Energética</h4>
						<a href="https://cr.linkedin.com/pub/javier-carvajal/6b/640/721" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#jcarvajal@technergycr.com" class="icon icon-envelop"></a>
					</div>
					<div class="back">
						<p height="120px" width="120px">Hablada</p>
						<br>
						<h4><b>Javier Carvajal</b></h4>
						<h4>Eficiencia Energética</h4>
						<a href="https://cr.linkedin.com/pub/javier-carvajal/6b/640/721" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#jcarvajal@technergycr.com" class="icon icon-envelop"></a>
					</div>
				</div>
			</div>
		</div><!-- col-lg-3 -->

		<div class="col-lg-3 centered">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img class="img" src="assets/img/fotos-pre-05.png" height="120px" width="120px" alt="">
						<br>
						<h4><b>Juan Carlos Martí</b></h4>
						<h4>Innovación y Desarrollo</h4>
						<a href="http://lnkd.in/bn7U3WK" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#jcmarti@technergycr.com" class="icon icon-envelop"></a>
					</div>
					<div class="back">
						<p height="120px" width="120px">Hablada</p>
						<br>
						<h4><b>Juan Carlos Martí</b></h4>
						<h4>Innovación y Desarrollo</h4>
						<a href="http://lnkd.in/bn7U3WK" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#jcmarti@technergycr.com" class="icon icon-envelop"></a>
					</div>
				</div>
			</div>
		</div><!-- col-lg-3 -->
	</div><!-- row -->

	<div class="row white centered">
		<div class="col-lg-2 centered">
		</div><!-- col-lg-2 -->
		<div class="col-lg-3 centered">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img class="img" src="assets/img/fotos-pre-03.png" height="120px" width="120px" alt="">
						<br>
						<h4><b>Hugo Sánchez</b></h4>
						<h4>Automatización y Energía</h4>
						<a href="https://cr.linkedin.com/pub/hugo-s%C3%A1nchez-ortiz/56/7a6/2ba" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#hsanchez@technergycr.com" class="icon icon-envelop"></a>
					</div>
					<div class="back">
						<p height="120px" width="120px">Hablada</p>
						<br>
						<h4><b>Hugo Sánchez</b></h4>
						<h4>Automatización y Energía</h4>
						<a href="https://cr.linkedin.com/pub/hugo-s%C3%A1nchez-ortiz/56/7a6/2ba" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#hsanchez@technergycr.com" class="icon icon-envelop"></a>
					</div>
				</div>
			</div>
		</div><!-- col-lg-3 -->

		<div class="col-lg-3 centered">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img class="img" src="assets/img/fotos-pre-06.png" height="120px" width="120px" alt="">
						<br>
						<h4><b>Ernesto Olivares</b></h4>
						<h4>Diseño Gráfico</h4>
						<a href="" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#eolivares@technergycr.com" class="icon icon-envelop"></a>
					</div>
					<div class="back">
						<p height="120px" width="120px">Hablada</p>
						<br>
						<h4><b>Ernesto Olivares</b></h4>
						<h4>Diseño Gráfico</h4>
						<a href="" target="_blank" class="icon-linkedin"></a>
						<a href="http://www.technergycr.com/#eolivares@technergycr.com" class="icon icon-envelop"></a>
					</div>
				</div>
			</div>
		</div><!-- col-lg-3 -->

		<div class="col-lg-3 centered">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front">
						<img class="img" src="assets/img/fotos-pre-02.png" height="120px" width="120px" alt="">
						<br>
						<h4><b>Adrián Sánchez</b></h4>
						<h4>Ingeniero de Software</h4>
						<a href="https://cr.linkedin.com/in/adrianss91" target="_blank" class="icon-linkedin"></a>
					</div>
					<div class="back">
						<p height="120px" width="120px">Hablada</p>
						<br>
						<h4><b>Adrián Sánchez</b></h4>
						<h4>Ingeniero de Software</h4>
						<a href="https://cr.linkedin.com/in/adrianss91" target="_blank" class="icon-linkedin"></a>
					</div>
				</div>
			</div>
		</div><!-- col-lg-3 -->
		
	</div><!-- row -->

	<div class="greywrap" id="contact" name="contact">
		<div class="row">
			<h1 class="centered title-border">GRACIAS POR PREFERIRNOS</h1>
			<br>
			<div class="col-lg-5">
				<h3>Información de Contacto</h3>
				<span class="icon icon-home"></span><span> Calle 35 37, Avenida 15, casa 3552, San José, CR.</span><br/>
					<span class="icon icon-phone"></span><span> +506 6003 0453 </span><br/>
					<span class="icon icon-mobile"></span><span> +506 8328 0431 </span><br/>
					<span class="icon icon-envelop"></span> <a href="#"> bnavarro@technergycr.com</a> <br/>
					<span class="icon icon-twitter"></span> <a href="#"> @technergy </a> <br/>
					<span class="icon icon-facebook"></span> <a href="#"> Technergy CR</a> <br/>
			</div><!-- col -->
			
			<div class="col-lg-7">
				<h3>Contáctenos</h3>
				<p>Estamos deseosos de ayudarle a crear un mundo más verde, escuchar sugerencias o recibir comentarios.</p>
					<form class="form-horizontal" role="form">
					  	<div class="form-group">
					      <input type="email" class="form-control" id="inputEmail" placeholder="Correo">
					      <br>
					      <input type="text" class="form-control" id="inputName" placeholder="Nombre">
					      <br>
					      <input type="textfield" class="form-control" id="inputText" placeholder="Texto">
					      <br>
					      <button class="btn btn-success" id="formSend">Enviar</button>
					    </div>
				   </form><!-- form -->
				  <label class="hidden alert alert-danger" id="formError">Mensaje No Enviado, Intentelo de Nuevo</label> 
				  <label class="hidden alert alert-success" id="formSuccess">Mensaje Enviado</label> 
			</div><!-- col -->

		</div><!-- row -->

	</div><!-- container -->

</div><!-- container -->

