<div id="videocontainer">
    <video autoplay="" loop="" preload="" width="100%">
      <source src="http://intellectualventureslab.com/hp_hero_video/waterjet_1920.mp4" type="video/mp4">
      <source src="http://intellectualventureslab.com/hp_hero_video/waterjet_1920.webm" type="video/webm">
    </video>
</div>

<div class="topNavbar" id="educationNavbar">
	<h2>Technergy - <span>Education</span></h2>
</div>

<ul class="nav nav-pills nav-stacked sidebar">
	<li class="sidebarPill sidebarTechnergy"><a href="#aboutus"><img src="assets/img/Logo1.png"> &#09; Acerca de Nosotros</a></li></br>
	<li class="sidebarPill sidebarEnergy"><a href="#energy"><img src="assets/img/LogoEF.png"> &#09; Eficiencia Energética</a></li></br>
	<li class="sidebarPill sidebarRandD"><a href="#randd"><img src="assets/img/LogoRD.png"> &#09; RandD</a></li>
</ul>

<div class="container" id="educationDiv">
<br>
	<div class="row white centered">
		<h1 class="centered title-border">Programas de Educación</h1>
		<br>
		<br>
		<div class="col-lg-5 centered">
			<span type="button" class="modalButton" data-toggle="modal" data-target="#fluidosModal"><img class="img" src="assets/img/fluidos.png" height="200px" width="120px" alt=""></span>
			<br>
			<h4><span type="button" class="modalButton" data-toggle="modal" data-target="#fluidosModal">Jugando con Fluidos</span></h4>
		</div><!-- col-lg-5 -->

		<div class="col-lg-5 centered">
			<span type="button" class="modalButton" data-toggle="modal" data-target="#pensamientoModal"><img class="img" src="assets/img/pensamiento.png" height="200px" width="120px" alt=""></span>
			<br>
			<h4><span type="button" class="modalButton" data-toggle="modal" data-target="#pensamientoModal">Pensamiento Creativo</span></h4>
		</div><!-- col-lg-5 -->

		<div class="col-lg-5 centered">
			<span type="button" class="modalButton" data-toggle="modal" data-target="#programacionModal"><img class="img" src="assets/img/programacion.png" height="180px" width="140px" alt="" style="margin-bottom: 20px;"></span>
			<br>
			<h4><span type="button" class="modalButton" data-toggle="modal" data-target="#programacionModal">Programación WEB</span></h4>
		</div><!-- col-lg-5 -->

		<div class="col-lg-5 centered">
			<span type="button" class="modalButton" data-toggle="modal" data-target="#roboticaModal"><img class="img" src="assets/img/robot.png" height="200px" width="120px" alt=""></span>
			<br>
			<h4><span type="button" class="modalButton" data-toggle="modal" data-target="#roboticaModal">Robótica</span></h4>
		</div><!-- col-lg-5 -->
		
	</div><!-- row -->
</div><!-- container -->

<div class="modal fade" id="programacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Introducción a la Programación</h4>
      </div>
      <div class="modal-body">
        <div class="row">       
          <div class="col-xs-4 col-sm-4">            
            <label>Nombre del Curso:</label>
          </div> 
          <div class="col-xs-8 col-sm-8">
            <span>Mi Primer Página WEB.</span>
          </div>
        </div>  
        <br><br>
        <div class="row">       
          <div class="col-xs-4 col-sm-4">            
            <label>Objetivo General:</label>
          </div> 
          <div class="col-xs-8 col-sm-8">
            <span>Presentar a los estudiantes un ejemplo básico de desarrollo para introducirlos en el campo de la programación y fomentar el estudio de carreras relacionadas con tecnología.</span>
          </div>
        </div> 
        <br><br>  
        <div class="row">       
          <div class="col-xs-4 col-sm-4">            
            <label>Resultados Esperados:</label>
          </div> 
          <div class="col-xs-8 col-sm-8">
            <span><ul>
              <li>Que los estudiantes aprendan una noción básica acerca de los usos y principios de la programación.</li>
              <li>Enseñar medios sencillos de busqueda en internet para resoluciones de problemas en general.</li>
              <li>Los estudiantes programaran un sitio web, basado en un blog de su afición (deportes, películas, música, etc.).</li>
              <li>Incentivar en los niños la persecución de sus metas mediante el estudio y la perseverancia.</li>
            </ul></span>
          </div>
        </div>             
          <br><br>
      <div class="modal-footer">        
        <br>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>