<div id="videocontainer">
    <video autoplay="" loop="" preload="" width="100%">
      <source src="http://intellectualventureslab.com/hp_hero_video/waterjet_1920.mp4" type="video/mp4">
      <source src="http://intellectualventureslab.com/hp_hero_video/waterjet_1920.webm" type="video/webm">
    </video>
</div>
<ul class="nav nav-pills nav-stacked sidebar">
	<li class="sidebarPill sidebarTechnergy"><a href="#aboutus"><img src="assets/img/Logo1.png"> &#09; Acerca de Nosotros</a></li></br>
	<li class="sidebarPill sidebarEducation"><a href="#education"><img src="assets/img/LogoED.png"> &#09; Educación</a></li></br>
	<li class="sidebarPill sidebarEnergy"><a href="#energy"><img src="assets/img/LogoEF.png"> &#09; Eficiencia Energética</a></li></br>
	<li class="sidebarPill sidebarRandD"><a href="#randd"><img src="assets/img/LogoRD.png"> &#09; RandD</a></li>
</ul>
<div id="homeContainer" class="container">
	<div class="row center">
		<div class="col-lg-12 homeImg">
			<a href="#aboutUs"><img src="assets/img/technergy.png"></a> 
		</div>
	</div>
</div><!-- container -->
